<style>
    .sr-star {
        font-size: 1.5em;
    }
</style>

<div class="pagedetails container">
    <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-4">
            Did you find this page helpful?<br>{{ craft.starRatings.stars(entry.id) }}
            {# <details class="brdr-0">
                <summary class="btn btn-default text-center">{{ 'Report a problem or mistake on this page'|t }}</summary>
                <div class="well row">
                    <div class="gc-rprt-prblm">
                        <div class="gc-rprt-prblm-frm gc-rprt-prblm-tggl">
                            <form action="#">
                                <fieldset>
                                    <legend><span class="field-name">{{ 'Please select all that apply:'|t }}</span></legend>
                                    <div class="checkbox">
                                        <label for="problem1"><input type="checkbox" data-reveal="#broken" name="problem" value="{{ 'Something is broken'|t }}" id="problem1">{{ 'Something is broken'|t }}</label>
                                    </div>
                                    <div class="form-group hide" id="broken">
                                        <label for="problem1-detail">{{ 'Provide more details (optional):'|t }}</label>
                                        <input type="text" class="form-control full-width" id="problem1-detail">
                                    </div>
                                    <div class="checkbox">
                                        <label for="problem2"><input type="checkbox" data-reveal="#spelling" name="problem" value="{{ 'It has spelling or grammar mistakes'|t }}" id="problem2">{{ 'The page has spelling or grammar mistakes'|t }}</label>
                                    </div>
                                    <div class="form-group hide" id="spelling">
                                        <label for="problem2-detail">{{ 'Provide more details (optional):'|t }}</label>
                                        <input type="text" class="form-control full-width" id="problem2-detail">
                                    </div>
                                    <div class="checkbox">
                                        <label for="problem3"><input type="checkbox" data-reveal="#wrong" name="problem" value="{{ 'The information is wrong'|t }}" id="problem3">{{ 'The information is wrong'|t }}</label>
                                    </div>
                                    <div class="form-group hide" id="wrong">
                                        <label for="problem3-detail">{{ 'Provide more details (optional):'|t }}</label>
                                        <input type="text" class="form-control full-width" id="problem3-detail">
                                    </div>
                                    <div class="checkbox">
                                        <label for="problem4"><input type="checkbox" data-reveal="#outdated" name="problem" value="{{ 'The information is outdated'|t }}" id="problem4">{{ 'The information is outdated'|t }}</label>
                                    </div>
                                    <div class="form-group hide" id="outdated">
                                        <label for="problem4-detail">{{ 'Provide more details (optional):'|t }}</label>
                                        <input type="text" class="form-control full-width" id="problem4-detail">
                                    </div>
                                    <div class="checkbox">
                                        <label for="problem5"><input type="checkbox" data-reveal="#find" name="problem" value="{{ 'I can’t find what I’m looking for'|t }}" id="problem5">{{ 'I can’t find what I’m looking for'|t }}</label>
                                    </div>
                                    <div class="form-group hide" id="find">
                                        <label for="problem5-detail">{{ 'Describe what you’re looking for (optional):'|t }}</label>
                                        <input type="text" class="form-control full-width" id="problem5-detail">
                                    </div>
                                    <div class="checkbox">
                                        <label for="problem6"><input type="checkbox" data-reveal="#confusing" name="problem" value="{{ 'It’s confusing'|t }}" id="problem6">{{ 'Other'|t }}</label>
                                    </div>
                                    <div class="form-group hide" id="confusing">
                                        <label for="problem6-detail">{{ 'Provide more details (optional):'|t }}</label>
                                        <input type="text" class="form-control full-width" id="problem6-detail">
                                    </div>
                                </fieldset>
                                <button type="submit" class="btn btn-primary wb-toggle" data-toggle='{"stateOff": "hide", "stateOn": "show", "selector": ".gc-rprt-prblm-tggl"}'>{{ 'Submit'|t }}</button>
                            </form>
                        </div>
                        <div class="gc-rprt-prblm-thnk gc-rprt-prblm-tggl hide">
                            <h3>{{ 'Thank you for your help!'|t }}</h3>
                            <p>{{ 'You will not receive a reply. For enquiries, please <a href="https://www.canada.ca/en/contact.html">contact us</a>.'|t }}</p>
                        </div>
                    </div>
                </div>
            </details> #}
        </div>
        <div class="wb-share col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-4 col-lg-offset-5"
            data-wb-share='{"lnkClass": "btn btn-default btn-block"}'></div>
    </div>
    <dl id="wb-dtmd">
        <dt>{{ 'Date modified:'|t }}&#32;</dt>
        <dd><time property="dateModified">{{ entry.dateUpdated | date("d-m-Y") }}</time></dd>
    </dl>
</div>

<!-- SAP Conversational AI chatbot -->
<script src="https://cdn.cai.tools.sap/webchat/webchat.js" channelId="b0e5bc44-bcda-4de8-ab92-c0d18be85f5e"
    token="ad849e28c36ab1a304630072ebac67aa" id="cai-webchat"></script>